/* Загальні стилі для всього документа */
body {
    font-family: Arial, sans-serif;
    background-image: url('https://kartinki.pics/pics/uploads/posts/2022-08/1661186207_1-kartinkin-net-p-oboi-dark-krasivo-1.jpg'); /* Шлях до зображення */
    background-size: cover; /* Малюнок охоплює весь екран */
    background-position: center; /* Центрування малюнка */
    background-attachment: fixed; /* Фіксація фону при прокрутці */
    color: #649448;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

/* Стилі для форми */
.registration-form {
    background-image: url(''); /* Фоновий малюнок для форми */
    background-size: cover; /* Покриття форми малюнком */
    background-position: center; /* Центрування малюнка */
    background-color: rgba(255, 255, 255, 0.9); /* Напівпрозорий білий фон */
    color: #00796b;
    padding: 30px;
    margin: 0 auto;
    border-radius: 12px; /* Закруглені кути */
    max-width: 450px; /* Ширина форми */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Тінь */
    position: relative;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #5eaf4c;
    color: white;
    padding: 10px 15px;
    margin-top: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Стилі для маргінів між елементами форми */
input[type="text"], 
input[type="email"], 
input[type="password"], 
input[type="date"], 
select {
    margin-bottom: 15px;
}
